@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --cor1:#F4F4F9;
    --cor2:#2B468B;
    --cor3:#FA9746;
    --cor4:#FFFFFF;
    --cor5:#699FEE;
    --cor6:#ABCCF7;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.box_login{
    display: flex;
    background-color: var(--cor1);
    width: 900px;
    height: 500px;
    border-radius: 10px;
}


.parte1{
    
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagem img{
    width: 400px;
}

.link_criar_conta a{
    color: var(--cor2);
}

.parte2{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_login{
    position: absolute;
    top: 120px;
    color: var(--cor2);
}



